.equal{
    color: #4a7750;
    margin-top: 15px;
    font-family: "helveticalight";
}

.imgco2{
    padding-top: 10px;
    margin-top: 48px!important;
}

.img-car{
    margin-bottom: 15px;
}

.img-coal{
    margin-bottom: 15px;
}

.img-tree{
    margin-bottom: 15px;
}

.wrp-sectionpage .item-sectionpage {
    padding-top: 20px;
}

.wrp-sectionpage .item-sectionpage h5 {
    font-size: 24px;
    margin-top: 20px;
}

.mb-32{
    margin-bottom: 32px;
}

.wrp-sectionpage.section-items {
    padding-bottom: 60px;
    height: 42%;
    padding-top: 40px;
}

.wrp-sectionpage.section-items .itemsection-chart {
    height: 425px;
    position: relative;
}

#totalprod{
    width: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;       
}

.totop {
    margin-top: 24px;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

#currentprod{
    width: 600px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;    
}

#daysprod{
    width: 430px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;     
    top: 18%; 
}

#monthsprod{
    width: 425px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;      
    top: 18%;
}

#yearprod{
    width: 430px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;  
    top: 18%;    
}

.infochart-graphic-bar{
    bottom: 22%;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;      
}

/* MDPI Screen Laptop  1440 */
@media screen and (min-width: 1430px) and (max-width: 1440px) {

    #currentprod {
        width: 445px!important;
        left: -4%;
        top: 115px!important; 
        height: auto;
    }  

    .wrp-weather .right {
        padding-left: 15px;
        padding-top: 15px;
    }    

    #daysprod, #monthsprod, #yearprod {
        top: 145px;
        width: 300px!important;
        height: auto;        
    }   

    .wrp-itemsummary .content-summary h4 {
        font-size: 28px;
        margin-bottom: 10px;
    }

    .wrp-sectionpage .item-sectionpage h5 {
        margin-top: 60px!important;
        margin-bottom: 6px !important;
    }    

    .totop {
        margin-top: 10px;
        bottom: -15px!important;
    }   

    .infochart-graphic-bar {
        bottom: 21%;
    }     

    .wrp-sectionpage .item-section-earn{
        margin-top: -45px;
        padding-top:0px;
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning-main img {
        margin-top: -15px!important;
        max-width: 72%;
        margin: 0 auto;
        height: auto;
    }     
    .imgco2 {
        margin-bottom: 40px !important;
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        margin-bottom: 10px!important;
        height: 72%;
    }    

    .maintitle {
        margin-bottom: 0px;
    }

    .maintitle h2{
        margin-bottom: 0px!important;
        margin-top: 40px!important;
    } 

    .wrp-sectionpage .item-sectionpage .imgiconearning {
        margin-top: -15px!important;
    }       

    .wrp-sectionpage .item-sectionpage .img-car {
        padding: 5px 45px!important;
        margin-top: 27px;
    }    

    .wrp-sectionpage .item-sectionpage .imgtree {
        margin-top: 30px;
    }

    .wrp-sectionpage .item-section-co2 h5.equal {
        margin-top: 32px !important;
    }    

    .wrp-sectionpage .item-section-co2 h2.valtotalco2{
        margin-top: -15px!important;
    }
    
    .wrp-sectionpage.section-items .imgwrp svg {
        position: relative!important;
        top:15px!important;
        margin-top: 24px;
    }

    .wrp-sectionpage .item-sectionpage h4 {
        margin-top: 14px;
    }

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 36px!important;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning {
        width: 58%;
        margin-top: 15px;
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning img {
        margin-top: 15px;
    }

    .wrp-sectionpage.section-reduced {
        padding-top: 10px;
        margin-top: -145px;
        height: 51.5%!important;
    }    

    .wrp-sectionpage.section-reduced .imgwrp {
        min-height: 190px;
    }

    .wrp-sectionpage.section-reduced h4.valElecCarTotal {
        margin-top: 8px;
    }

    .wrp-sectionpage.section-reduced h4.valConsumptionTotal {
        margin-top: 6px;
    }    

    .wrp-sectionpage.section-reduced h4.valTreeTotal {
        margin-top: 8px;
    }  

    #totalprod{
        top: 85px;
    }

}

/* MDPI Screen Laptop  1440 */

/* Laptop Screen 1680x1050 WSXGA+ Display */

@media screen and (min-width: 1441px) and (max-width: 1680px) {

    .totop {
        margin-top: 10px;
        bottom: 0;
    }

    .imgco2 {
        margin-bottom: 30px !important;
    }

    .wrp-sectionpage.section-items {
        height: 44%;
    }   

    #daysprod, #yearprod {
        top: 92px;
        width: 380px!important;
    }    

    #monthsprod{
        top: 86px;
        width: 380px!important;
    }

    .wrp-sectionpage .item-sectionpage h4 {
        margin-top: 18px;
    }

    .wrp-sectionpage .item-sectionpage h2.valtotalearning{
        font-size: 35px;
        margin-top: 18px;
    }    

    .wrp-sectionpage .item-sectionpage h5 {
        margin-bottom: 12px;
    }

    .wrp-sectionpage .item-section-reduced{
        margin-top: -12px;
    }

    .wrp-sectionpage .item-section-reduced h4{
        margin-top: 5px;
    }    

    .item-section-reduced .imgwrp{
        margin-top: -32px!important;
    }

    .infochart-graphic-bar {
        bottom: 19%;
    }

    .wrp-sectionpage .item-section-earn {
        margin-top: -30px;
    }    
    
}
/* End Laptop Screen 1680x1050 WSXGA+ Display */



/* STARTING MEDIA QUERY */

/* FULL HD TV 1920 x 1080 */

@media screen and (min-width: 1920px) and (max-width: 1925px) {
    .wrp-sectionpage .item-sectionpage h5 {
        
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning-main img {
        margin-top: 20px!important;
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning img {
        margin-bottom: 24px;
    }

    .wrp-sectionpage .item-sectionpage h2.valtotalearning {
        font-size: 50px!important;
        margin-top: 24px;
    }    

    .wrp-sectionpage.section-items {
            height: 50%;
            padding-bottom: 96px;
    }


    .wrp-sectionpage.section-items .maintitle {
        margin-bottom: 48px;
    }

    .wrp-sectionpage .item-section-co2 h2.valtotalco2 {
        margin-top: 20px!important;
        font-size: 50px!important;
    }
    .item-section-reduced{
        margin-top: 64px;
    }

    .item-section-earn{
        margin-top: -54px;
    }

    .imgco2 {
        max-width: 532px;
        margin-top: 76px!important;
    }    

    #daysprod, #monthsprod, #yearprod {
        width: 430px!important;
        top:76px;
    }

    .infochart-graphic-bar {
        bottom: 22%;
        font-weight: bold;
    }   

    .totop {
        margin-top: 10px;
        bottom: -70px!important;
    }     

    #currentprod {
        width: 555px!important;
        top: auto !important;
        bottom: 18px;
    }    

    #totalprod {
        left: -48px;
    }

    .wrp-sectionpage .item-section-co2 h5.equal {
        margin-top: 52px !important;
    }    

    #chart-graphic-hour{
        background:#fff;
        z-index: 3;
        width: 70%;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top:-20px;
        padding-bottom: 10px;
    }

    .maintitle h2 {
        margin-bottom: 0px!important;
        margin-top: 64px!important;
    }   
     

}

/* FULL HD TV 1920 x 1080 */



/* (1366x768) WXGA Display */
@media  screen and (max-width: 1366px) {

    .mainmenu .itemmenu a{
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .mainmenu .imgwrp {
        max-height: 65px;
        max-width: 110px;
        margin: 0 auto;
    }    

    .wrp-itemsummary .item-summary {
        padding: 12px 20px;
    }

    .wrp-itemsummary .content-summary h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .wrp-weather .right {
        padding-left: 20px;
        padding-top: 15px;
    }         

    #footerweb .item {
        font-size: 13px;
    }    
    
    .wrp-itemsummary .content-summary h2 {
        font-size: 30px;
    }
    
    .maintitle h1 {
        color: #231f20;
        font-size: 30px;
        margin-top: 15px;
    }    

    #currentprod {
        width: 400px;
        left: -4.2%;
        top: 130px;
    }    

    .wrp-sectionpage .item-sectionpage h5 {
        margin-top: 30px;
    }

    #totalprod{
        width: 435px;
        top: 84px;       
    }

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 26px;
    }    

    .wrp-sectionpage.section-items .itemsection-chart {
        height: 400px;
    }

    .wrp-sectionpage .item-sectionpage .infochart h5{
        margin-top: 15.8%;
    }

    .wrp-sectionpage .item-section-earn {
        margin-top: -8px;
    }    

    .wrp-sectionpage .item-section-reduced {
        margin-top: -46px;
    }        

    .wrp-sectionpage .item-sectionpage {

    }

    .totop {
        margin-top: 10px;
        bottom: 15px;
    }    

    #daysprod{
        width: 260px;
        height: auto;
        top: 128px;
    }

    #monthsprod{
        width: 260px;
        height: auto;
        top: 134px; 
    }

    #yearprod{
        width: 260px;
        height: auto;
        top: 124px;
    }   
    
    .infochart-graphic-bar {
        bottom: 31%;
    }    

    .wrp-sectionpage .item-sectionpage h4 {
        font-size: 26px;
        margin-top: 8px;
    }
    
    .wrp-sectionpage.section-items {
        padding-top: 20px;
        height: 45.5%;
    }

    .section-reduced {
        height: 54% !important;
    }
    
    .section-reduced .imgwrp {
        height: 50% !important;
        min-height: 200px;
    }
    
    .wrp-sectionpage .item-sectionpage .imgwrp {
        padding: 0px 10px 0px 10px;
    }    

    .wrp-sectionpage .item-sectionpage .imgco2 svg{
        width: 85%;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        height: auto;
        width: auto;
        max-width: 70%;
    }    

    .maintitle h2 {
        font-size: 24px !important;
    }

    .wrp-sectionpage .item-sectionpage .imgco2{
        margin-top: 20px;
    }        

    .wrp-sectionpage .item-sectionpage .img-coal{
        padding:10px 30px;
    }    

    .wrp-sectionpage .item-sectionpage .img-car{
        padding:12px 30px;
    }   
    
    .wrp-sectionpage .item-sectionpage .imgtree{
        padding:10px 30px;
    }       

    .wrp-sectionpage .item-sectionpage h5 {
        font-size: 13px;
        margin-top: 8px;
    }      

    .wrp-sectionpage .item-sectionpage .maintitle h5 {
        margin-top: 20px;
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        margin-top: -21.3px;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning-main img{
        text-align: center;
        margin:0 auto;
    }

    .equal{
        margin-top: 30px;
    }

    .wrp-sectionpage .item-sectionpage h5.equal {
        font-family: "helveticamedium";
        font-size: 29px;
    }
  

}
/* (1366x768) WXGA Display */

/* MDPI Screen Laptop  1280 */

@media screen and (max-width: 1280px) {

    .wrp-sectionpage.section-items {
        height: 46.5%;
    }    

    #currentprod {
        width: 400px!important;
        top: 115px!important; 
        height: auto;
        left: 0;
        right: 0;
    }  

    .wrp-weather .right {
        padding-left: 20px;
        padding-top: 15px;
    }     

    #daysprod, #monthsprod {
        top: 105px;
        width: 295px;
        height: auto!important;        
    }   

    #yearprod {
        top: 100px;
        width: 295px;
        height: auto!important;   
    }

    .wrp-sectionpage .item-sectionpage h5 {
        margin-top: 10px;
        margin-bottom: 8px;
    }    

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 28px;
        margin: 12px;
    }    

    .totop {
        margin-top: 10px;
        bottom: -10px;
    }   

    .infochart-graphic-bar {
        bottom: 28.5%;
    }     

    .wrp-sectionpage .item-sectionpage h5 {
        font-size: 16px;
    }   

    .wrp-sectionpage .item-section-co2 h5.equal {
        font-size: 32px;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning-main img {
        margin-top: 0px;
    }     

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        margin-bottom: 15px!important;
        margin-top: 20px!important;
    }    

    .maintitle {
        margin-bottom: 0px;
    }

    .maintitle h2{
        margin-bottom: 0px!important;
        margin-top: 40px!important;
    } 

    .wrp-sectionpage.section-items .maintitle {
        margin-bottom: 15px;
    }    

    .wrp-sectionpage .item-sectionpage .maintitle h5 {
        margin-top: 24px !important;
    }    

    .mb-32 h5{
        margin-bottom: 0px!important;
        margin-top: 10px!important;
    }     

    .wrp-sectionpage .item-sectionpage .imgiconearning {
        margin-bottom: 18px;
    }       

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 29px!important;
    }    

    .wrp-sectionpage .item-sectionpage .img-car {
        padding: 5px 45px!important;
    }    

    .wrp-sectionpage .item-section-co2 h5.equal {
        margin-top: 15px;
    }    

    .wrp-sectionpage .item-section-co2 h2.valtotalco2{
        margin-top: 8px;
    }
    
    .wrp-sectionpage.section-items .imgwrp svg {
        position: relative!important;
        top:4px!important;
        margin-top: 24px;
    }

    .infochart{
        margin-top: 56px;    
    }

    .wrp-sectionpage .item-sectionpage .imgco2 {
        margin-top: 32px !important;
    }    

    .wrp-sectionpage .item-sectionpage h4 {
        font-size: 26px;
        margin-top: 10px;
        line-height: 22px;
    }    
    
    .wrp-sectionpage .item-sectionpage h4.valtotalearningyear{
        margin-top: 32px;
    }

    .wrp-sectionpage .item-section-reduced {
        padding-top: 0px;
        margin-top: 36px;

    }

    .wrp-sectionpage .item-section-earn {
        margin-top: -42px;
    }    

}

/* HDPI Screen Laptop  1280 */

/* Kindle Fire */
@media only screen and (min-width: 1200px)
and (max-device-width: 1600px)
and (-webkit-device-pixel-ratio: 2.0) {



}

@media (min-width:1200px) and (max-width:1024px){

}


/* IPAD PRO  12*/

/* Landscape */
@media only screen 
  and (min-width: 1366px) 
  and (max-width: 1367px) 
  and (max-height: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    .wrp-itemsummary .content-summary h4 {
        font-size: 18px;
    }

    .totop h2.TotalDays{
        margin-top: 10px!important;
    }

    .totop h2.TotalPac{
        margin-top: 10px!important;
    }

    #footerweb .item {
        font-size: 13px;
    }    
    
    .wrp-itemsummary .content-summary h2 {
        font-size: 30px;
    }
    
    .maintitle h1 {
        color: #231f20;
        font-size: 30px;
        margin-top: 24px;
    }    

    #currentprod {
        width:455px!important;
        left: 25px !important;
        top:104px!important;
    }    

    #yearprod, #monthsprod, #daysprod {
        top:110px;        
    }

    .wrp-sectionpage .item-sectionpage h5 {
        margin-top: 30px;
    }

    #totalprod{
        width:480px;
        top:98px;        
    }

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 28px;
    }    


    .wrp-sectionpage .valtotalco2 {
        margin-top: -20px;
        margin-bottom: 30px;
    }

    .wrp-sectionpage.section-items .itemsection-chart {
        height: 400px;
    }

    .totop {
        margin-top: 10px;
        bottom: -15px;
    }    

    #daysprod{
        width: 275px;
        height: auto;
        top:96px;
    }

    #monthsprod{
        width: 275px;
        height: auto;   
        top:99px;     
    }

    #yearprod{
        width: 275px;
        height: auto;       
        top:92px; 
    }   
    
    .infochart-graphic-bar {
        bottom: 47%;
    }    

    .wrp-sectionpage .item-sectionpage h4 {
        font-size: 26px;
    }
    
    .wrp-sectionpage.section-items {
        padding-top: 20px;
    }

    .section-reduced {
        height: 54% !important;
    }
    
    .section-reduced .imgwrp {
        height: 50% !important;
        min-height: 200px;
    }
    
    .wrp-sectionpage .item-sectionpage .imgwrp {
        padding: 24px 10px;
    }    

    .wrp-sectionpage .item-sectionpage .imgco2 svg{
        width: 85%;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        height: auto;
        width: auto;
        max-width: 100%;
    }    

    .wrp-sectionpage .item-sectionpage .img-coal{
        padding:5px 30px;
    }    

    .wrp-sectionpage .item-sectionpage .img-car{
        padding:5px 30px;
        align-items: flex-end;
    }   
    
    .wrp-sectionpage .item-sectionpage .imgtree{
        padding:5px 30px;
    }       

    .wrp-sectionpage .item-sectionpage h5 {
        font-size: 14px;
        margin-top: 15px;
    }      
    
    .item-section-earn {
        position: relative;
        margin-top: -12%;
    } 

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        margin-bottom: 0;
    }
    .wrp-sectionpage .item-sectionpage .imgiconearning-main img{
        height: 100%;
    }

    .infochart-graphic-bar {
        bottom: 34%;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        max-width: 75%;
    }

    .wrp-sectionpage .item-section-reduced {
        margin-top: 59px;
    }    

}
/* Landscape */

/* IPAD ONLY */

/* IPAD Only Landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  
    .wrp-itemsummary .content-summary h4 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    #footerweb .item {
        font-size: 13px;
    }    
    
    .wrp-itemsummary .content-summary h2 {
        font-size: 30px;
    }
    
    .maintitle h1 {
        color: #231f20;
        font-size: 30px;
    }    

    #currentprod {
        width:310px!important;
        left:1%!important;
        top:86px!important;
    }    

    .wrp-sectionpage .item-sectionpage h5 {
        margin-top: 30px;
    }

    #totalprod{
        width:400px;
        top:80px;        
    }

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 28px;
    }    

    .wrp-sectionpage.section-items .itemsection-chart {
        height: 400px;
    }

    .totop {
        margin-top: 5px;
        bottom: 56px;
    }      

    #daysprod{
        width: 209px!important;
        height: auto;
        top:130px;
    }

    #monthsprod{
        width: 209px!important;
        height: auto;   
        top:135px;     
    }

    #yearprod{
        width: 209px!important;
        height: auto;       
        top:118px; 
    }   
    
    .infochart-graphic-bar {
        bottom: 34.5%;
    }

    .wrp-sectionpage .item-sectionpage h4 {
        font-size: 26px;
    }

    .wrp-sectionpage .item-sectionpage h4.valtotalearningyear {
        margin-top: 28px;
    }
    
    .wrp-sectionpage.section-items {
        padding-top: 20px;
    }

    .section-reduced {
        height: 54% !important;
    }
    
    .section-reduced .imgwrp {
        height: 50% !important;
        min-height: 200px;
    }
    
    .wrp-sectionpage .item-sectionpage .imgwrp {
        padding: 5px 5px;
    }    

    .wrp-sectionpage .item-sectionpage .imgco2 svg{
        width: 85%;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        height: auto;
        width: auto;
        max-width: 100%;
    }    

    .wrp-sectionpage .item-sectionpage .img-coal{
        padding:5px 30px;
    }    

    .wrp-sectionpage .item-sectionpage .img-car{
        padding:5px 30px;
    }   
    
    .wrp-sectionpage .item-sectionpage .imgtree{
        padding:5px 30px;
    }       

    .wrp-sectionpage .item-sectionpage h5 {
        font-size: 14px;
        margin-top: 15px;
    }   
    
    .wrp-sectionpage .item-sectionpage .imgiconearning-main img{
        height: auto;
        width: 76%;
        margin-left: auto;
        margin-right: auto;
        margin-top: -20px;
    }    

    .wrp-itemsummary .content-summary .wrp-weather {
        display: block;        
    }

    .wrp-itemsummary .content-summary .wrp-weather i{
        font-size: 80px;
        margin-top: 6px;
        margin-bottom: 6px;
        padding-bottom: 10px;
    }

    .wrp-weather .wrp-temp {
        display: inline;
        font-size: 46px;
        float: left;
        margin-top: 15px;
        padding-right: 15px;
    }    

    .wrp-sectionpage .item-sectionpage .img-coal {
        padding-right: 42px;
        padding-left: 42px;
    }    

    .wrp-sectionpage .item-sectionpage .imgtree {
        padding-right: 46px;
        padding-left: 46px;
    }

    .wrp-sectionpage.section-items .maintitle {
        margin-bottom: 6px;
    }

    .wrp-sectionpage .item-section-earn {
        margin-top: -48px;
    }

    .wrp-sectionpage .item-section-reduced {
        margin-top: -12px;
    }

    .wrp-sectionpage .item-section-co2 h5.equal {
        margin-top: 17px !important;
    }        

}


/* IPAD Only Landscape */

/* IPAD Only Portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
    
    #bodyweb {
        width: 90% !important;
        margin:0 auto;
        padding-right: 24px;
    }   

    .headermobile {
        background: rgba(255,255,255,1) !important;
        display: block;
    }
    
    #headerweb {
        position: fixed;
        width: 290px;
        height: 100%;
        padding: 30px 15px;
        left: -300px;
        z-index: 101;
    }
    #headerweb.slideshow {
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;
        left: 0;
    }

    #headerweb.slidehide {
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;        
        left: -300px;
    }    

    a.closemenu, .closemenu {
        display: block;
    }    

    .maintitle h1 {
        margin-top: 32px;
    }  
    
    .container-itemsummary {
        display: flex;
        height: 86%;
    }    

    .wrp-itemsummary {
        height: 40%;
    }    

    .wrp-sectionpage.section-items {
        padding-top: 20px;
        height: 30.5%;
    }    

    #currentprod {
        height: auto;
        top:-12.5%!important;
    }    

    .totop {
        margin-top: 10px;
    }    

    #totalprod {
        width: 330px!important;
        top: -10%;
    }   
    
    #daysprod{
        top: -26%;
        width: 205px;        
    }

    #yearprod {
        top: -28%;
        width: 205px;
    }

    #monthsprod{
        top: -24%;
        width: 205px;
    }

    .infochart-graphic-bar {
        bottom: 92%;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        width: 69%;
        height: auto;
    }   

    .wrp-sectionpage .item-section-earn {
        margin-top: -90%;
    }

    .wrp-sectionpage .item-section-reduced {
        margin-top: -42%;        
    }    

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 30px;
        margin-top: 8px;
    }

    .item-section-earn{
        position: relative;
        margin-top: -105%;
    }

    .imgco2 {
        max-width: 470px;
        height: 48% !important;
    }

    .item-section-co2{
        
    }

    .wrp-sectionpage .item-section-co2 h2{
        position: relative!important;
        margin-top: -11%;
    }

    .wrp-sectionpage .item-section-co2 h2.valtotalco2 {
        margin-top: -28px;
    }    

    .item-section-reduced{
        height: 30%;
        position: relative;
        margin-top: -63%;
    }

    .wrp-video {
        padding-top: 32px;
    }

    #footerweb {
        padding-left: 15px;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning-main img{
        height: auto;
    }

    .wrp-itemsummary .content-summary .wrp-weather {
        display: block;        
    }

    .wrp-itemsummary .content-summary .wrp-weather i{
        font-size: 98px;
        margin-top: 18px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        line-height: 70px;
    }

    .wrp-weather .wrp-temp {
        display: inline;
        font-size: 46px;
        float: left;
        margin-top: 15px;
        padding-right: 15px;
    }       

    .wrp-weather .city{
        font-size: 18.5px;
    }

    .wrp-video {
        display: block;
    }

    .wrp-sectionpage .item-sectionpage h4.valtotalearningyear {
        margin-top: 28px;
    }

}
/* IPAD Only Portrait */
/* IPAD ONLY */


/* IPAD PRO 12 POTRET */

/* Portrait */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    #bodyweb {
        width: 86% !important;
        margin:0 auto;
    }   

    .headermobile {
        background: rgba(255,255,255,1) !important;
        display: block;
    }
    
    #headerweb {
        position: fixed;
        width: 290px;
        height: 100%;
        padding: 30px 15px;
        left: -300px;
        z-index: 101;
    }
    #headerweb.slideshow {
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;
        left: 0;
    }

    #headerweb.slidehide {
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;        
        left: -300px;
    }    

    a.closemenu, .closemenu {
        display: block;
    }    

    .maintitle h1 {
        margin-top: 36px;
    }  
    
    .container-itemsummary {
        display: flex;
        height: 86%;
    }    

    .wrp-itemsummary {
        height: 40%;
    }    

    .wrp-sectionpage.section-items {
        padding-top: 20px;
        height: 30.5%;
    }    

    #currentprod {
        width: 540px;
        height: auto;
        top:-24%;
    }    

    .totop {
        margin-top: 10px;
        bottom: 40%;
    }    

    #totalprod {
        width: 440px;
        top: -15%;
    }   

    .infochart-graphic-bar {
        bottom: 99%;
    }    

    #monthsprod {
        top: -41%;
        width: 270px;
    }

    #daysprod{
        top: -42.5%;
        width: 270px;        
    }

    #yearprod{
        top: -44%;
        width: 270px;        
    }    
  
    .wrp-sectionpage .item-sectionpage h2 {
        margin-top: 20px;
    }  

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        width: 86%;
        height: auto;
    }   

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 32px;
        margin-top: 24px;
    }

    .item-section-earn{
        position: relative;
        margin-top: -118%;
    }

    .imgco2 {
        max-width: 600px;
        height: 48% !important;
    }

    .item-section-co2{
        
    }

    .wrp-sectionpage .item-section-co2 h2{
        position: relative!important;
        margin-top: -11%;
    }

    .item-section-reduced{
        height: 30%;
        position: relative;
        margin-top: -88%;
    }

    .wrp-video {
        padding-top: 32px;
    }

    .mainweather h4 {
        margin-top: 0 !important;
        margin-bottom: 32px !important;
    }    

    .wrp-weather .right {
        padding-top: 30px;
    }  
    .wrp-sectionpage .item-section-earn {
        margin-top: -70%;
    }

    .wrp-sectionpage .item-section-co2 h5.equal {
        margin-top: 10px;
    }

    .wrp-sectionpage .item-sectionpage .img-coal {
        padding: 10px 12px;
    }    

    .wrp-sectionpage .item-sectionpage .img-car {
        padding: 5px 7px!important;
    }    

    .wrp-sectionpage .item-section-reduced {
        margin-top: -28%;
    }    

}

/* Portrait */
/* IPAD PRO 12 */

/* IPAD PRO 10 */

/* Portrait */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 834px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 2) {

    #bodyweb {
        width: 87% !important;
        margin:0 auto;
        padding-right: 5px;
    }   

    .headermobile {
        background: rgba(255,255,255,1) !important;
        display: block;
    }
    
    #headerweb {
        position: fixed;
        width: 290px;
        height: 100%;
        padding: 30px 15px;
        left: -300px;
        z-index: 101;
    }
    #headerweb.slideshow {
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;
        left: 0;
    }

    #headerweb.slidehide {
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;        
        left: -300px;
    }    

    a.closemenu, .closemenu {
        display: block;
    }    

    .maintitle h1 {
        margin-top: 36px;
    }  
    
    .container-itemsummary {
        display: flex;
        height: 86%;
    }    

    .wrp-itemsummary {
        height: 40%;
    }    

    .wrp-sectionpage.section-items {
        padding-top: 20px;
        height: 30.5%;
    }    

    #currentprod {
        width: 480px;
        height: auto;
        left: 3px;
        top:-24%;
    }    

    .mainweather h4 {
        margin-bottom: 32px!important;
    }

    .wrp-weather .right {
        margin-top: 24px !important;
    }
    .totop {
        margin-top: 10px;
        bottom: 36%;
    }    

    #totalprod {
        width: 440px;
        top: -15%;
    }   
    
    #monthsprod, #daysprod, #yearprod {
        top:-56%;
    }

    .infochart-graphic-bar {
        bottom: 117%;
    }    

    .wrp-sectionpage .item-sectionpage .imgiconearning-main {
        width: 64%;
        height: auto;
    }   

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 32px;
        margin-top: 10px;
    }

    .item-section-earn{
        position: relative;
        margin-top: -118%;
    }

    .imgco2 {
        max-width: 480px;
        height: 48% !important;
    }

    .wrp-sectionpage .item-sectionpage .imgco2 {
        margin-top: 30px !important;
    }

    .item-section-co2{
        
    }

    .wrp-sectionpage .item-section-co2 h2{
        position: relative!important;
        margin-top: -11%!important;
    }

    .item-section-reduced{
        height: 30%;
        position: relative;
        margin-top: -66.5%;
    }

    .wrp-video {
        padding-top: 32px;
    }

    .wrp-sectionpage .item-sectionpage .infochart h5 {
        margin-top: -24%;
    }

    #monthsprod, #daysprod, #yearprod {
        top: -48%;
        width: 220px;
    }

    #daysprod{
        top: -62%;
        width: 225px;        
    }

    #monthsprod{
        top: -60%;
        width: 225px;
    }

    #yearprod{
        top: -63%;
        width: 225px;           
    }

    .wrp-sectionpage .item-sectionpage h4 {
        margin-top: 18px;
    }

    .wrp-sectionpage .item-sectionpage .imgiconearning-main img{
        height: auto;
    }

    .wrp-video {
        display: block;
    }

}
/* Portrait */
/* Landscape */
@media only screen 
  and (min-width: 1112px) 
  and (max-width: 1113px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 2)
 {

    .wrp-itemsummary .content-summary h4 {
        font-size: 18px;
    }

    #footerweb .item {
        font-size: 13px;
    }    
    
    .wrp-itemsummary .content-summary h2 {
        font-size: 30px;
    }
    
    .maintitle h1 {
        color: #231f20;
        font-size: 30px;
    }    

    #currentprod {
        width:365px!important;
        left:2px!important;
        top:30px;
    }    

    .totop h2.TotalDays{
        margin-top: 5px!important;
    }

    .totop h2.TotalPac{
        margin-top: 5px!important;
    }

    .wrp-sectionpage .item-sectionpage h5 {
        margin-top: 30px;
    }

    #totalprod{
        width:480px;
        top:125px;        
    }

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 28px;
    }    

    .wrp-sectionpage.section-items .itemsection-chart {
        height: 400px;
    }

    .totop {
        margin-top: 10px;
        bottom: 5px;
    }     

    #daysprod{
        width: 245px;
        height: auto;
        top:40px; 
    }

    #monthsprod{
        width: 245px;
        height: auto;   
        top:46px;      
    }

    #yearprod{
        width: 245px;
        height: auto;       
        top:30px; 
    }   
   
    .infochart-graphic-bar {
        bottom: 52%;
    }    

    .wrp-sectionpage .item-sectionpage h4 {
        font-size: 26px;
    }
    
    .wrp-sectionpage.section-items {
        padding-top: 20px;
    }

    .section-reduced {
        height: 54% !important;
    }
    
    .section-reduced .imgwrp {
        height: 50% !important;
        min-height: 200px;
    }
    
    .wrp-sectionpage .item-sectionpage .imgwrp {
        padding: 24px 10px;
    }    

    .wrp-sectionpage .item-sectionpage .imgco2 svg{
        width: 85%;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        height: auto;
        width: auto;
        max-width: 95%;
    }    

    .wrp-sectionpage .item-sectionpage .img-coal{
        padding:5px 30px;
    }    

    .wrp-sectionpage .item-sectionpage .img-car{
        padding:5px 30px;
    }   
    
    .wrp-sectionpage .item-sectionpage .imgtree{
        padding:5px 30px;
    }       

    .wrp-sectionpage .item-sectionpage h5 {
        font-size: 14px;
        margin-top: 15px;
    }   
    
    .item-section-earn {
        position: relative;
        margin-top: -5%;
    }    

    .wrp-sectionpage.section-items .maintitle {
        margin-bottom: 10px;
    }   

    .wrp-video {
        padding-top: 24px;
    }    

}
/* Landscape */
/* IPAD PRO 10 */


/* iPad 1 & 2 in landscape */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape)
and (-webkit-min-device-pixel-ratio: 1)  { 
    
}
/* iPad 1 & 2 in landscape */

/* iPad 1 & 2 in portrait */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) 
and (-webkit-min-device-pixel-ratio: 1) { 

}
/* iPad 1 & 2 in portrait */

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 480px) and (max-width: 767px) {

#footerweb {
    position: fixed!important;
    top:62px;
    height: 64px;
}

#footerweb .item {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 0px;
}

.headermobile {
    background: rgba(255,255,255,1)!important;
}    

.wrp-showmenu span {
    background: #4a7750;
    width: 29px;
    height: 4px;
    display: block;
    margin: 5px 0;
}

.wrp-showmenu span:nth-child(2) {
    width: 36px;
}

#bodyweb {
    width: 76%!important;
    margin:0 auto;
}    

.wrp-itemsummary .content-summary h4 {
    margin-bottom: 10px;
    font-size: 15px;
}

.wrp-itemsummary .content-summary h2 {
    font-size: 26px;
}

.maintitle h1 {
    font-size: 22px;
}

.d-sm-none{
    display: none!important;
}

.wrp-sectionpage.section-items .itemsection-chart {
    height: 170px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#currentprod {
    height: 100%;
    display: block;
    width: 395px;
    position: absolute;
    left: -30%!important;
    right: 0!important;
    margin-left: auto!important;
    margin-right: auto!important;
    clear: both;
}

#totalprod {
    width: 96%;
    height: auto;
    top: 5px;
}

.wrp-sectionpage .item-sectionpage h2{
    font-size: 25px;
}

.wrp-sectionpage .item-sectionpage h5 {
    font-size: 20px;
    margin-top: 15px;
}

#daysprod {
    width: 96%;
    height: auto;   
    top: -5px; 
}

.wrp-sectionpage.section-items {
    padding-top: 10px;
    padding-bottom: 10px;
}

.infochart-graphic-bar {
    bottom: 5%;
}

.mm-24{
    margin-top: -24px;
}

.wrp-sectionpage .item-sectionpage {
    padding-top: 10px;
}

.wrp-sectionpage .item-sectionpage h4 {
    font-size: 28px;
}

.maintitle h2 {
    font-size: 18px!important;
    margin-bottom: 10px;
}

.imgco2{
    max-width: 180px!important;
    margin-top: 5px !important;
}

.imgtree{
    max-width: 150px!important;
}

h5.equal{
    display: none;
}

.section-reduced .imgwrp {
    height: 20% !important;
    min-height: 132px;
}

.fullpage-wrapper .section-summary{
    height: 100vh!important;
}

.fullpage-wrapper .section-solar-production{
    height: 100vh!important;
}

.fullpage-wrapper .section-earning{
    height: 100vh!important;
}

.fullpage-wrapper .section-constribution{
    height: 100vh!important;
}

.fullpage-wrapper .section-video{
    height: 100vh!important;
}

.totop {
    margin-top: 10px;
    top: 67%;
}  

.infochart-graphic-bar{
    bottom:0px;
}

.wrp-sectionpage .item-sectionpage h5.equal{
    display: block!important;
    margin-top: 24px !important;
    font-size: 15px !important;    
}

.wrp-sectionpage .item-sectionpage .imgtree {
    position: relative;
    margin-top: -45px;
    padding: 10px 15px;
}

.wrp-sectionpage .item-sectionpage h2 {
    font-size: 24px !important;
}

}

@media only screen and (min-width: 320px) and (max-width: 480px) {

#footerweb {
    position: fixed!important;
    top:62px;
    height: 64px;
}

#footerweb .item {
    font-size: 11px;
    line-height: 8px;
}

#footerweb .item:first-child{
    margin-top: 8px;
}

.headermobile {
    background: rgba(255,255,255,1)!important;
}

.d-xs-none{
    display: none!important;
}    

.wrp-showmenu span {
    background: #4a7750;
    width: 29px;
    height: 4px;
    display: block;
    margin: 5px 0;
}

.wrp-showmenu span:nth-child(2) {
    width: 36px;
}

#bodyweb {
    width: 85%!important;
    margin:0 auto;
}

.container-itemsummary {
    margin-top: 64px;
}

.wrp-itemsummary .content-summary h4 {
    margin-bottom: 10px;
    font-size: 14px;
}

.wrp-itemsummary .content-summary h2 {
    font-size: 30px;
}

.img-summary-1{
    width: 120px;
}

.img-summary-2{
    width: 150px;
    margin-bottom: 15px;
    margin-top: 15px;    
}

.maintitle h1 {
    font-size: 21px;
}

#currentprod {
    height: 100%;
    display: block;
    width: 395px;
    position: absolute;
    left: -30%!important;
    right: 0!important;
    margin-left: auto!important;
    margin-right: auto!important;
    clear: both;
}

.wrp-sectionpage.section-items {
    padding-top: 10px;
    padding-bottom: 10px;
}

.wrp-sectionpage.section-items .itemsection-chart {
    height: 170px;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.infochart {
    margin-top: -20px;
}

.wrp-sectionpage .item-sectionpage .infochart > h5{
    font-size: 16px!important;
}

#totalprod {
    width: 100%;
    height: auto;
    top: 5px;
    margin-bottom: 32px;
}

.wrp-sectionpage .item-sectionpage h2{
    font-size: 24px;
}

.wrp-sectionpage .item-sectionpage h5 {
    font-size: 18px;
    margin-top: 14px;
}

.wrp-sectionpage .item-sectionpage .infochart h5 {
    margin-top: 0%;
}

#daysprod {
    width: 95%;
    height: auto;    
    top:12px;
}

 #monthsprod, #yearprod {
    top:16px;    
}

#daysprod{
    top:40px;
}

.infochart-graphic-bar {
    bottom: 7.5%;
}

.mm-24{
    margin-top: -24px;
}

.wrp-sectionpage .item-sectionpage {
    padding-top: 10px;
}

.wrp-sectionpage .item-sectionpage h2 {
    font-size: 30px;
}
.wrp-sectionpage .item-sectionpage h4 {
    font-size: 25px;
    font-family: "helveticamedium";
}

.maintitle h2 {
    font-size: 18px!important;
    margin-bottom: 10px;
}

.imgco2{
    max-width: 180px!important;
    margin-top: 5px !important;
}

.imgtree{
    max-width: 150px!important;
}

h5.equal{
    display: none;
}

.section-reduced .imgwrp {
    height: 22% !important;
    min-height: 132px;
}

.fullpage-wrapper .section-summary{
    height: 100vh!important;
}

.fullpage-wrapper .section-solar-production{
    height: 100vh!important;
}

.fullpage-wrapper .section-earning{
    height: 100vh!important;
}

.fullpage-wrapper .section-constribution{
    height: 100vh!important;
}

.fullpage-wrapper .section-video{
    height: 100vh!important;
}

.totop {
    margin-top: 10px;
    top: 65%;
}  

.wrp-sectionpage .item-sectionpage h5.equal{
    display: block!important;
    margin-top: 24px !important;
    font-size: 24px !important; 
    color: #444!important;   
}

.wrp-sectionpage .item-sectionpage .imgtree {
    position: relative;
    margin-top: -45px;
    padding: 10px 14px;
}

.infochart-graphic-bar {
    bottom: -18px;
}

.wrp-sectionpage.section-items {
}

body{
    background:#eff2f2;
}

.maintitle h1{
    margin-top:67px;
}

#myVideo{
    margin-top: 70px;
}

.wrp-sectionpage.section-items .maintitle h2 {
    margin-top: 5px !important;
}

.separator-line{
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -76px;  
    display: none;
    background: rgba(255,192,74,1);
    background: -moz-linear-gradient(left, rgba(255,192,74,1) 0%, rgba(255,255,255,1) 65%, rgba(254,182,69,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,192,74,1)), color-stop(65%, rgba(255,255,255,1)), color-stop(100%, rgba(254,182,69,1)));
    background: -webkit-linear-gradient(left, rgba(255,192,74,1) 0%, rgba(255,255,255,1) 65%, rgba(254,182,69,1) 100%);
    background: -o-linear-gradient(left, rgba(255,192,74,1) 0%, rgba(255,255,255,1) 65%, rgba(254,182,69,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,192,74,1) 0%, rgba(255,255,255,1) 65%, rgba(254,182,69,1) 100%);
    background: linear-gradient(to right, rgba(255,192,74,1) 0%, rgba(255,255,255,1) 65%, rgba(254,182,69,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffc04a', endColorstr='#feb645', GradientType=1 );
}

.wrp-sectionpage .section-items .mm-24{
    height: auto!important;
    clear: both!important;
    overflow: scroll!important;
}

.mm-24{
    overflow: unset!important;
}

.infochart-graphic-bar {
    bottom: -37px;
}

.wrp-sectionpage .item-sectionpage h2 {
    font-size: 24px !important;
}

}


/* iPhone 5 & 5S in portrait */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : portrait) {
    
    .totop {
        margin-top: 20px;
        top: 67%;
    }  
    
    .wrp-sectionpage #daysprod {
        top: 8px;
        clear: both;
    }
    
    .infochart-graphic-bar {
        bottom: 4px;
    }

    .wrp-sectionpage .item-sectionpage .imgco2 svg {
        width: 100%;
    }

    .imgco2 {
        max-width: 200px !important;
    }

    .wrp-sectionpage .item-sectionpage .imgtree {
        position: relative;
        margin-top: -35px;
        padding: 5px 14px;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        max-width: 100%;
    }

    .wrp-sectionpage .item-sectionpage .imgco2 {
        margin-top: 18px;
    }    

    .wrp-sectionpage .item-section-reduced {
        padding-top: 0px;
        margin-top: 6px;
    }    


    .wrp-sectionpage.section-items .item-section-earn {
        margin-bottom: 64px;
    }    

    .wrp-sectionpage.section-items .item-section-earn:first-child {
        margin-top: 5px;
    }    

}

/* iPhone 5 & 5S in portrait */


/* iPhone 6, 7, & 8 in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    
    .totop {
        margin-top: 25px;
        top: 67%;
    }
    
    .wrp-sectionpage #daysprod {
        top:164px;
        clear: both; 
    }

    .wrp-sectionpage .item-sectionpage .imgco2 svg {
        width: 100%;
    }

    .imgco2 {
        max-width: 200px !important;
    }

    .wrp-sectionpage .item-sectionpage .imgtree {
        position: relative;
        margin-top: -36px;
        padding: 10px 14px;
    }

    .maintitle .mb-32{
        margin-top: -6px!important;
    }

    .wrp-sectionpage .item-sectionpage h5.equal {
        margin-top: 30px !important;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        max-width: 100%;
    }

    .wrp-sectionpage .item-sectionpage h2 {
        font-size: 25px !important;
        line-height: 29px;
    }    

    .separator-line {
        bottom: -110px;
    }

    .wrp-sectionpage #daysprod {
        top: 24px;
        clear: both;
    }

    .infochart-graphic-bar {
        bottom: -25px;
    }

    .wrp-sectionpage.section-items .item-section-earn {
        margin-bottom: 80px;
    }    

}

@media only screen 
and (min-device-width : 400px) 
and (max-device-width : 667px) 
and (orientation : portrait) {
    .infochart-graphic-bar {
        bottom: -60px;
    }
    .totop {
        top: 90%;
    }
}





/* iPhone 6, 7, & 8 in portrait */

/* iPhone 6, 7, & 8 Plus in portrait */
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { 
    
    .totop {
        margin-top: 10px;
        top: 89.5%;
    }  
    
    .wrp-sectionpage #daysprod {
        top: 64px;
        clear: both;
    }
    
    .infochart-graphic-bar {
        bottom: -120px;
    }      

    .wrp-sectionpage .item-sectionpage .imgco2 svg {
        width: 100%;
    }

    .imgco2 {
        max-width: 200px !important;
    }

    .wrp-sectionpage .item-sectionpage .imgtree {
        position: relative;
        margin-top: 15px;
        padding: 10px 14px;
    }

    .wrp-sectionpage.section-items .imgwrp svg {
        max-width: 100%;
    }

    .separator-line {
        bottom: -130px;
    }    

    .wrp-sectionpage .item-sectionpage h5.equal {
        margin-top: 35px !important;
    }

    .wrp-sectionpage .item-sectionpage .imgtree {
        margin-top: -36px;        
    }

    .wrp-sectionpage .item-sectionpage .imgco2 {
        margin-top: 18px !important;
    }

}

/* iPhone 6, 7, & 8 Plus in portrait */

/* iPhone X in portrait */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px) 
and (-webkit-device-pixel-ratio : 3)
and (orientation : portrait) { 
    #totalprod {
        top: 10px;
        width: 305px;
    }

    .totop {
        top: 80%;
        margin-top: 10px;
    }
    .wrp-sectionpage .item-sectionpage .totop h2 {
        margin-top: 5px;
    }
    .wrp-sectionpage .item-sectionpage .totop h2 {
        margin-top: 5px;
    }
    

    .wrp-sectionpage #daysprod {
        top: 64px;
        clear: both;
    }

    .wrp-sectionpage .item-sectionpage .imgco2 {
        margin-top: 18px !important;
    }    

    .infochart-graphic-bar {
        bottom: -66px;
    }    

}
/* End iPhone X in portrait */


/* iPhone XR */
@media only screen 
and (device-width : 414px) 
and (device-height : 896px) 
and (-webkit-device-pixel-ratio : 2) { 
    .infochart-graphic-bar {
        bottom: -96px;
    }
}


/* Moto XR */
@media (max-width: 400px) {
    .wrp-sectionpage .item-sectionpage .infochart h5 {
        margin-bottom: 25px;
    }
    .wrp-sectionpage .item-sectionpage h5 {
        top: 20px;
    }
    .wrp-sectionpage .item-sectionpage h4 {
        margin-top: 20px;
    }
}


/*iphone 6/7/8 */
@media (min-width: 400px) and (max-device-width : 420px)  {
    .totop {
        top: 100%;
        margin-top: 20px;
    }
    .infochart-graphic-bar {
        top: 100%;
        margin-top: 60px;
    }
}

/*iphone ipad */
@media (min-width: 767px) and (max-width : 770px)  {
    #currentprod.itemchart{
        height: 155px;
        width: auto !important;
    }
    .totop {
        bottom: auto;
        position: relative;
    }
    .infochart.totop {
        margin-top: 30px;
    }
    .infochart.totop.position-totalDays {
        margin-top: 105px;
    }
    .wrp-sectionpage .item-sectionpage .infochart h5 {
        margin-top: 0;
    }
    .wrp-sectionpage .item-sectionpage .imgwrp {
        align-items: flex-end;
    }
    .wrp-sectionpage .item-section-co2 h2.valtotalco2 {
        margin-top: 0;
    }
}

/*iphone ipad */
@media (min-width: 1020px) and (max-width : 1030px)  {

    .wrp-sectionpage .item-sectionpage .imgwrp {
        align-items: flex-end;
    }
    .wrp-sectionpage .item-section-co2 h2.valtotalco2 {
        margin-top: 0;
    }

}
