/* CSS */
@gap: 24%;
@gap0: 22%;
@gapfix: 250px;
@color-yellow: #ffd34b;
@color-yellow2: #feecba;
@color-green: #4a7750;
@color-green2: #c1d3c2;
@color-black:#231f20;

@font-helveticalight: "helveticalight";
@font-helveticaregular: "helveticaregular";
@font-helveticamedium: "helveticamedium";
@font-helveticaBold: "HelveticaBold";


body {
	color: #333;
	font-size: 14px;
	font-family: @font-helveticaregular, sans-serif;
	line-height: 23px;
	margin: 0;
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;		
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
	cursor:pointer;
} 

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 1200px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}
img {
	max-width:100%;
}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {
	background: @color-yellow;
	position: fixed;
	width: @gapfix;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 10;
	-webkit-box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.55);
	-moz-box-shadow:    4px 4px 7px 0px rgba(50, 50, 50, 0.55);
	box-shadow:         4px 4px 7px 0px rgba(50, 50, 50, 0.55);	
}

.wrp-sidemenu {
	text-align: center;
    display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;	
	&.sidemenu-mobile {
		display: none;
	}	
}

.mainlogo {
	padding-top: 30px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.mainmenu {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
	width: 100%;
	align-self: center;	
	.itemmenu {
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 100%;
		align-self: center;
		justify-content: center;
		font-family: @font-helveticaBold;
		font-size: 17px;
		color: @color-black;
		border-top: #fff solid 2px;
		label {
			margin: 0;
		}
		a {
			display: flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
			align-self: center;
			justify-content: center;
			padding-top:    10px;
			padding-bottom: 10px;
			cursor: pointer;
			&:hover {
				text-decoration: none;
			}
		}
		.animatecss;
		&:last-child {
		}
		&:hover,&.active {
			.animatecss;
			background: #fff;
			width: @gapfix+25;
			text-decoration: none;
		}
	}
	.imgwrp {
		max-height: 85px;
		max-width: 135px;
		margin: 0 auto;		
		svg {
			width: auto;
			max-height: 85px;
		}
	}
}


/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
	margin-left: @gapfix+45px;
	padding-right: 45px;
}

.section {
}

.container-itemsummary {
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	padding-bottom: 45px;
	padding-top: 20px;
}

.wrp-itemsummary {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin-left: -15px;
	margin-right: -15px;
	.item-summary {
		padding: 20px;
		width: 50%;
		height: 100%;
		text-align: center;
		display: flex;
	}
	.content-summary {
		/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feffff+0,f4f3ee+35,f4f3ee+62,cbc4ad+100 */
		background: rgb(254,255,255); /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%, rgba(244,243,238,1) 35%, rgba(244,243,238,1) 62%, rgba(203,196,173,1) 100%); /* FF3.6-15 */
		background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(244,243,238,1) 35%,rgba(244,243,238,1) 62%,rgba(203,196,173,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: radial-gradient(ellipse at center,  rgba(254,255,255,1) 0%,rgba(244,243,238,1) 35%,rgba(244,243,238,1) 62%,rgba(203,196,173,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#cbc4ad',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */			
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;	
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		color: @color-green;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		svg {
			max-width: 100%;
			height: auto;
		}
		h4 {
			font-size: 37px;
			color: @color-green;
			margin-top: 15px;
			letter-spacing: 3px;
			font-family: @font-helveticalight;
			margin-bottom: 25px;
			&.abs {
				position: absolute;
				top: 20px;
			}
		}
		h2 {
			font-size: 40px;
			color: @color-green;
			font-family: @font-helveticaBold;
		}
		.wrp-weather {
			display: flex;
			height: 100%;
			align-items: center;
			img {
				max-height: 100%;
			}
		}
	}	
}



.mainweather {
	h4 {
		margin-top: 0 !important;
		margin-bottom: 10px !important;
	}
}

.wrp-weather {
	.left {
		font-size: 120px;
		color: @color-yellow;
		margin-right: 20px;
	}
	.right {
		text-align: left;
	}
	.wrp-temp {
		display: block;
		font-size: 50px;
		margin-bottom: 10px;
		#temperature {
			display: inline-block;
			margin-right: 5px;	
		}	
	}
	.city, .forcast {
		font-size: 16px;
		font-family: @font-helveticalight;
		font-size: 20px;
		margin-bottom: 15px;
		letter-spacing: 1px;
		text-transform: capitalize;
	}
	.wrp-desc {

	}
}

.maintitle {
	display: block;
	text-align: center;
	margin-bottom: 10px;
	h1 {
		color: @color-black;
		font-size: 50px;				
		font-family: @font-helveticaBold;
	}
	h2 {
		font-weight: normal;
		font-size: 25px;
		color: @color-black !important;
	}
	h5 {
		font-size: 14px;
		color: @color-black;
	}
	h1,h2,h3,h4,h5 {
		&.sametitle {
			font-size: 40px;
			font-family: @font-helveticaBold;
		}			
	}
}

.wrp-defaultpage {
	display: flex;
	align-items: center;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
}
.wrp-sectionpage {
	display: flex;
	align-items: center;
	height: 47%;
	width: 100%;
	justify-content: space-around;
	.item-sectionpage {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding-top: 20px;
		h2,h4 {
			color: @color-green;
		}
		h2 {
			font-family: @font-helveticaBold;
			font-size: 35px;
		}	
		h4 {
			font-size: 35px;
			font-family: @font-helveticaBold;
			margin-top: 10px;
			letter-spacing: 1px;
		}
		h5 {
			font-size: 17px;
			position: relative;
			z-index: 100;
			font-family: @font-helveticalight;
			letter-spacing: 2px;
			&.main {
				letter-spacing: 5px;
				color: @color-green;
				font-family: @font-helveticamedium;
			}
			&.equal {
				font-family: @font-helveticamedium;
				font-size: 35px;
			}			
		}
		.imgwrp {
			height: 100%;
			display: flex;
			align-items: center;
			text-align: center;
			margin: 0 auto;
			svg {
				width: auto;
				height: 100%;
				margin: 0 auto;
				&.iconcar, &.iconcoal, &.icontree {
					margin-bottom: 15px;
				}  
				&.iconcar {
					width: 280px;
				}
				&.iconcoal {
					width: 300px;
				}
				&.icontree {
				}
	
			}
	
		}
		.imgiconearning-main {
			height: 60%;
			display: flex;
			margin-bottom: 20px;
			img {
				height: 100%;
			}
		}
		.imgiconearning {
			height: auto !important;
			display: flex;
			width: 60%;
			img {
				height: auto;
			}
		}
		.iconearning-today, .iconearning-month, .iconearning-year {
		}		
		.iconearning-today {

		}
		.iconearning-month {

		}
		.iconearning-year {
			
		}
	}
	&.section-items {
		padding-bottom: 60px;
		height: 40%;
		.maintitle {
			margin-bottom: 20px;
			font-family: @font-helveticalight;
			letter-spacing: 2px;
		}
		.imgwrp {
			justify-content: flex-end;
			height: auto;
			svg {
				height: auto;
			}
		}
		.itemsection-chart {
			height: auto;
		}
		.item-sectionpage {
		}
	}
	&.section-autoheight {
		height: auto;
		h2 {
			margin-bottom: 15px;
		}
	}
}

.needle, .needle-center
{
  fill: red;
}


.section{
	text-align:center;
	overflow: hidden;
}

.section-video .layer{
	z-index: 4;
	width: 100%;
	left: 0;
	top: 43%;
}

/*solves problem with overflowing video in Mac with Chrome */
.section-video{
	overflow: hidden;
	position: relative;
}

.contentvideo {
	display: flex;
	height: auto;
	width: 100%;
	align-items: center;
	flex-direction: column;
}

.wrp-video {
	position: relative;
	display: flex;
	width: 100%;
	align-items: center;
	height: 100%;
	overflow: hidden;
	padding-bottom: 40px;
	.maintitle {
		margin-top:20px;
		margin-bottom: 30px;
		h1 {
		}
	}
	video {

	}
}

#myVideo{
	width: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	// background-image: /* our video */;
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:3;
}

.infochart {
	h5 {
		font-family: @font-helveticaregular;
		font-size: 16px;
	}
	h2 {
		font-size: 30px;
	}
}

.itemchart {
}

.totop {
	margin-top: 20px;
}

.tobtm {
	margin-bottom: 20px;
}

.valtotalco2 {
	font-size: 40px;
}

a.closemenu, .closemenu {
	font-family: @font-helveticamedium;
	position: absolute;
	right: 15px;
	top: 10px;
	color: #fff !important;
	cursor: pointer;
	font-size: 16px;
	display: none;
}

.headermobile {
	position: sticky;
	top: 0;
	width: 100%;
	height: 70px;
	padding: 20px;
	z-index: 100;
	background: rgba(255, 255, 255, 0.70);
	display: none;
	.logomobile {
		display: inline-block;
		vertical-align: middle;
		img {
			max-height: 40px;
		}
	}
}


.wrp-showmenu {
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	cursor: pointer;
	span {
		background: @color-green;
		width: 32px;
		height: 5px;
		display: block;
		margin: 5px 0;
		&:nth-child(2) {
			width: 40px;
		}
	}
}

.imgco2 {
	max-width: 500px;
	height: 50% !important;
	display: flex;
	align-items: center;
	margin-bottom: 20px !important;
	margin-top: 10px !important;
	svg {
		max-width: 100%;
		height: auto !important;
	}
}

.section-reduced {
	height: 45% !important;
	.imgwrp {
		height: 50% !important;
		min-height: 200px;
	}
}




/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
	background: @color-yellow2;
	padding: 5px 0;
	position:sticky;
	left: 0;
	bottom: 0;
	width: 100%;
	color: @color-black;
	padding-left: @gapfix;
	height: 40px;
	letter-spacing: 2px;
	font-size: 16px;
	.contentfoot {
		padding: 0 30px+15px;
		display: flex;
		height: 100%;
		align-items: center;
		strong {
			font-family: @font-helveticaBold;
		}
	}
	.item {
		flex: 1;
		&:last-child {
			text-align: right;
		}
	}
}


/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 767px) {
	#headerweb {
		position: fixed;
		width: 290px;
		height: 100%;
		padding: 30px 15px;		
		left: -300px;
		z-index: 101;
		.animatecss;
		&.slidehide {
			.animatecss;
			left: -300px;
		}
		&.slideshow {
			.animatecss;
			left: 0;
		}
	}
	.headermobile {
		display: block;
	}
	a.closemenu, .closemenu {
		display: block;
	}
	.wrp-sidemenu {
		display: none;
		&.sidemenu-mobile {
			display: block;
		}
	}
	.mainlogo {
		padding: 0;
	}
	.mainmenu {
		display: flex;
		height: auto;
		margin-top: 20px;
		.itemmenu {
			display: flex;
			border-radius: 2px;
			padding: 0 5px;
			a {
				display: flex;
				flex-direction: row;
				justify-content: stretch;
			}
			.imgwrp {
				display: flex;
				width: 50px;
				height: 50px;
				align-items: center;
				margin-right: 7px;
			}
			label {
				display: flex;
				align-items: center;
			}
			svg {
				max-width: 100%;
			}
			&:hover,&.active {
				width: 100%;
				padding-right: 15px;
			}

		}
	}
	#bodyweb {
		margin: 0;
		padding: 0;
	}
	.maintitle {
		h1 {
			font-size: 45px;
		}		
	}
	.container-itemsummary {
		padding-top: 0;
	}
	.wrp-itemsummary {
		height: auto;
		margin: 0;
		flex-direction: column;
		.item-summary {
			width: 100%;
			padding: 5px;
		}
		.content-summary {
			padding: 30px 10px;
			h4 {
				margin-bottom: 15px;
			}
			h2 {
				font-size: 35px;
			}
		}
	}
	.wrp-sectionpage .item-sectionpage .imgiconearning-main img {
		height: auto;
	}
	.wrp-sectionpage {
		flex-direction: column;
		.imgwrp {
			max-width: 300px;
			svg {
				max-width: 100%;
				height: auto !important;
			}
		}
		&.section-items {
			height: auto;
			padding: 10px 0;
			.item-sectionpage {
				padding: 0 15px;
				margin-bottom: 50px;
			}
			.imgwrp {
				max-width: 300px;
				svg {
					max-width: 100%;
					height: auto;
				}
			}
		}
	}
	.fullpage-wrapper .section,
	.fullpage-wrapper .section .fp-slide,
	.fullpage-wrapper .section .fp-tableCell{
		height: auto !important;
	}	
	.wrp-sectionpage {
		&.section-items {
			height: auto;
			width: 100%;
			padding: 0;
		}
		#daysprod, #monthsprod, #yearprod {
			width: 100%;
			top: auto;
		}
		#totalprod {
			width: 100%;
		}

	}
	
	.wrp-sectionpage.section-items .itemsection-chart {
		&.item-dailykwh {
			margin-left: 60px;
			margin-right: 40px;
		}
		&.item-totalprod {
			margin-left: 2px;
			width: 112%;
		}
	}
	.wrp-sectionpage.section-items .item-sectionpage {
		padding: 0 10px;
		&.item-sectionpage-todays {
			padding-left: 25px;
		}
	}
	.wrp-sectionpage.section-items {
		margin-bottom: 30px;
	}
	#footerweb {
		padding: 15px;
		position: relative;
		height: auto;
		.contentfoot {
			padding: 0;
			display: block;
		}
		.item {
			&:last-child {
				text-align: left;
				margin-top: 10px;
			}
		}
	}
}

/* Tablet device */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
	  transform: rotate(-90deg);
	  transform-origin: left top;
	  width: 100vh;
	  overflow-x: hidden;
	  position: absolute;
	  top: 100%;
	  left: 0;
	}
  }